@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #D9F3F6;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {

    color: #fff;
    height: 60px;
    background-color: #6D922B;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover {
    color: lightblue
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    
    color: #fff;
    min-height: 400px;
    display: flex;
    align-items: center;
    background-color: #6A5E50;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
   max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.boxes .container{
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background-color: #66BECF;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

.box i {
    margin-right: 10px;
}


/* --------------------------------------------------------- */

/* h1 {
    color: red
} */

/* Affects only less than 500px */
@media(max-width: 768px) {
   .header .container {
    flex-direction: column;
   }

   .boxes .container{
    flex-direction: column;
   }

   .header img {
    margin-top: 30px;
   }
}

/* Affects only above than 500px */
/* @media(min-width: 500px) {
    h1 {
        color: blue;
    }
} */




